server:
  port: 9000

spring:
  application:
    name: config_server
   ##  http://localhost:9000/config-client/dev
   ##  http://localhost:9000/config-client/prod
   ## 直接查看内容：http://localhost:9000/config-client-prod.yml
  cloud:
    config:
      server:
        git:
          uri: https://github.com/BeHappyWsz/springcloud
          search-paths: config
          username:
          password:
      label: master
